/* GENERALE */
*
{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}

.option
{
    position: absolute;
    right: 100px;
    font-size: .7rem;
    display: flex;
    gap: 0px;
}
.left
{

    padding-top: 3px;
    border: 1px solid black;
    background-color: gray;
    height: 25px;
    margin-right: 90px;
}
.annuler
{
    padding-top: 3px;
    border: 1px solid black;
    background-color: #231d1d;
    color: white;
    height: 25px;
}
.envoyer
{
    padding-top: 3px;
    border: 1px solid black;
    background-color: rgba(103, 170, 97, 87);
    height: 25px;
}
.right
{
    padding-top: 3px;
    border: 1px solid black;
    background-color: rgb(224, 58, 58);
    height: 25px;
    text-align: center;

}
a
{
    text-decoration: none;
    color: black;
}
ul li
{
    text-decoration: none;
    list-style: none;
    display: inline;
    font-size: 1.3rem;
    float: left;
    position: relative;
    left: -230px;
    padding-top: 20px;
    margin-right: 5px;
}
.steps
{
    display: inline;

}

/* HEADER */
header
{
    width: 100%;
    height: 100px;
    background-color: #D9D9D9;
}
header img
{
    padding-left: 10px;
    padding-top: 20px;
    height: 65px;
    width: 200px;
}
.profil
{
    display: flex;
    float: right;
    margin-right: 50px;
}
.profilUser i
{
    font-size: 2rem;
    padding-top: 30px;
}
.profilUser i:hover
{
    color: rgba(103, 170, 97, 87);
    cursor: pointer;
}
header p
{
    margin-top: 35px;
    margin-left: 10px;
    font-size: 1.2rem;
}


/* MENU-BARRE-LEFT */
#menuBarreLeft
{
    float: left;
    height: 100%;
    
}
.menu
{
    width: 250px;
    height: 100vh;
    margin-top: 70px;
    background-color: #D9D9D9;
}
.menu i
{
    font-size: 2rem;
    padding-right: 10px;
}
/*.gtsUser i
{

}*/
.gtsTaskes i
{
    padding-right: 10px;
}
.dashbord i
{
    padding-left: 20px;
    padding-right: 10px;
}
.gtsTaskes p, .dashbord p, .compta p
{
    padding-right: 45px;
}
.bilan i, .compta i
{
    padding-right: 10px;
}
.bilan p
{
    padding-right: 110px;
}
.settings i
{
    padding-right: 10px;
}
.settings p
{
    padding-right: 80px;
}
.settings,.gtsTaskes,.bilan,.dashbord,.compta
{
    font-size: 1.2rem;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    border: 1px  solid;
}
.gtsUser
{
    font-size: 1.2rem;
    width: 250px;
    height: 70px;
    display: flex;
    background: rgba(103, 170, 97, 87);
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px  solid;
}
.settings:hover,.gtsTaskes:hover,.bilan:hover,.dashbord:hover,.compta:hover
{
    width: 250px;
    height: 70px;
    display: flex;
    background: rgba(103, 170, 97, 8
    );
    justify-content: center;
    align-items: center;
    border: 1px  solid;
}
.logOut
{
    position: absolute;
    bottom: -150px;
    margin-left: 70px;
}
.listElement
{
    margin-top: 115px;
    margin-left: 300px;
    display: flex;
    gap: 25px;

}
.listElement p:first-child
{
    color: rgba(103, 170, 97, 87);
}
.listElement p a:hover:last-child
{
    color: rgba(103, 170, 97, 87);
    cursor: pointer;
}
.listElement p
{
    font-size: 1.3rem;
}
.border
{
    margin-left: 300px;
    margin-top: 25px;
    width: 1000px;
    border: 1px solid black;
}
.border2
{
    margin-left: 300px;
    margin-top: 25px;
    width: 1000px;
    border: 1px solid black;
}
.array
{

    margin-left: 50px
}
.array .attribut
{
    
    margin-left: 250px;
    margin-top: 30px;
    width:  1000px;
    height: 50px;
    padding-top: 10px;
    background: rgba(103, 170, 97, 87);
    padding-left: 10px;
    padding-right: 70px;
    font-size: 1.3rem;
    justify-content: space-between;
    display: flex;
}
.array .attributs
{
    
    margin-left: 250px;
    width:  1000px;
    height: 50px;
    padding-top: 10px;
    background: white;
    padding-left: 10px;
    padding-right: 70px;
    font-size: .9rem;
    border: 1px solid black;
    justify-content: space-between;
    display: flex;

}
.array #action
{padding-right: 30px;
    padding-left: 45px;
}
.array #user
{
    margin-left: 30px;
    margin-right: 20px;
}
.array #count
{
    padding-left: 75px;
}
.array #contact
{
    padding-left: 20px;
    padding-right: 10px;
}
.registerUser
{
    margin-left: 1100px;
    margin-top: 20px;
}
#button
{
    font-size: 1.1rem;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
#button:hover
{
    background-color: rgba(103, 170, 97, 87);
    color: white;
}
.registerUser p
{
    text-align: center;
    padding-top: 10px;
    font-size: 3.5rem;
}

#form_user .close_form
{
    width: 50px;
    height: 50px;
    background-color: black;
    float: right;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}
.close_form i
{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}
#form_user
{
    width: 600px;
    position: absolute;
    top: 250px;
   height: 500px;
   display: inline; 
   text-align: center;
   background-color: rgba(103, 170, 97, 87);
   margin-left: 200px;
   visibility: hidden;
   transition: 0.2s;
}
#form_user.active
{
    width: 600px;
    position: absolute;
    top: 250px;
   height: 500px;
   display: inline; 
   text-align: center;
   background-color: rgba(103, 170, 97, 87);
   margin-left: 200px;
   visibility: visible;
}
#form_user h2
{
    padding-top: 50px;
}
form
{
    justify-content: center;
    text-align: center;
    padding-top: 70px;
}
input
{
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 10px;
    column-rule-style: none;
}
#submit
{
    font-size: 1.1rem;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}




/*DROPMENU*/
.action
{
    position: absolute;
    top: 55px;
    right: -30px;
}
.action .menuProfil 
{
    position: absolute;
    background-color: rgba(103, 170, 97, 87);
    top: 35px;
    right: -20px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 50px;
    width: 200px;
    height: 300px;
    box-sizing: 0 5px 25px rgba(0,0,0,1);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menuProfil.active
{
    visibility: visible;
    opacity: 1;

}

.action .menuProfil::before
{
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 28px;
    height: 20px;
    transform: rotate(45deg);
}
.action .menuProfil h2
{
    color: #D9D9D9;
    width: 200px;
    font-size: 18px;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2rem;
    text-transform: uppercase;
}
.action p
{
    color: #D9D9D9;
}
.action ul
{
    display: inline;
    font-size: 1.2rem;
}
.action .menuProfil ul li
{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.action .menuProfil ul li i
{
    max-width: 20px;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menuProfil ul li:hover i
{
    opacity: 1;
}
.action .menuProfil ul li a
{
    display: inline-block;
    text-decoration: none;
    color: #D9D9D9;
    font-weight: 500;
    transition: 0.5s;
}
.action .menuProfil ul li:hover a
{
    color: black;
}