/* GENERALE */
*
{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    color: black;
}
ul li
{
    text-decoration: none;
    list-style: none;
    display: inline;
    font-size: 1.3rem;
    float: left;
    position: relative;
    left: -230px;
    padding-top: 20px;
    margin-right: 5px;
}
.steps
{
    display: inline;

}

/* HEADER */
header
{
    width: 100%;
    height: 100px;
    background-color: #D9D9D9;
}
header img
{
    padding-left: 10px;
    padding-top: 20px;
    height: 65px;
    width: 200px;
}
.profil
{
    display: flex;
    float: right;
    margin-right: 50px;
}
.profilUser i
{
    font-size: 2rem;
    padding-top: 30px;
}
.profilUser i:hover
{
    color: rgba(103, 170, 97, 87);
    cursor: pointer;
}
header p
{
    margin-top: 35px;
    margin-left: 10px;
    font-size: 1.2rem;
}

/* MENU-BARRE-LEFT */
#menuBarreLeft
{
    float: left;
    height: 100%;
    
}
.menu
{
    width: 250px;
    height: 100vh;
    margin-top: 70px;
    background-color: #D9D9D9;
}
.menu i
{
    font-size: 2rem;
    padding-right: 10px;
}

.gtsTaskes i
{
    padding-right: 10px;
}
.dashbord i
{
    padding-left: 20px;
    padding-right: 10px;
}
.gtsTaskes p, .dashbord p, .compta p
{
    padding-right: 45px;
}
.bilan i,.compta i
{
    padding-right: 10px;
}
.bilan p
{
    padding-right: 110px;
}
.settings i
{
    padding-right: 10px;
}
.settings p
{
    padding-right: 80px;
}
.gtsUser,.gtsTaskes,.bilan,.dashbord,.compta
{
    font-size: 1.2rem;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    border: 1px  solid;
}
.settings
{
    font-size: 1.2rem;
    width: 250px;
    height: 70px;
    display: flex;
    background: rgba(103, 170, 97, 87);
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px  solid;
}
.gtsUser:hover,.gtsTaskes:hover,.bilan:hover,.dashbord:hover,.compta:hover
{
    width: 250px;
    height: 70px;
    display: flex;
    background: rgba(103, 170, 97, 8
    );
    justify-content: center;
    align-items: center;
    border: 1px  solid;
}

/* SETTING */
#setting h1
{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 1.3rem;
    /*float: right;*/
}
#setting p
{
    padding-left: 15px;
    padding-top: 40px;
    font-size: 1.2rem;
    /*float: right;*/
}
#setting i
{
    font-size: 2rem;
    /*float: right;*/
}

.rules
{
display: flex;
flex-wrap: wrap;
gap: 20px;
margin-top: 90px;
margin-left: 330px;
}
.workTime,.taskes,.pay,.admin
{
    width: 300px;
    height: 200px;
    background-color: rgba(103, 170, 97, 87) ;
    border-radius: 3px;
}
.workTime i
{
    margin-left: 30px;
}
.taskes i
{
    margin-left: 150px;
}
.pay i
{
    margin-left: 60px;
}
.admin i
{
    margin-left: 20px;
}


/*DROPMENU*/
.action
{
    position: absolute;
    top: 55px;
    right: -30px;
}
.action .menuProfil 
{
    position: absolute;
    background-color: rgba(103, 170, 97, 87);
    top: 35px;
    right: -20px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 50px;
    width: 200px;
    height: 300px;
    box-sizing: 0 5px 25px rgba(0,0,0,1);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menuProfil.active
{
    visibility: visible;
    opacity: 1;

}

.action .menuProfil::before
{
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 28px;
    height: 20px;
    transform: rotate(45deg);
}
.action .menuProfil h2
{
    color: #D9D9D9;
    width: 200px;
    font-size: 18px;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2rem;
    text-transform: uppercase;
}
.action p
{
    color: #D9D9D9;
}
.action ul
{
    display: inline;
    font-size: 1.2rem;
}
.action .menuProfil ul li
{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.action .menuProfil ul li i
{
    max-width: 20px;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menuProfil ul li:hover i
{
    opacity: 1;
}
.action .menuProfil ul li a
{
    display: inline-block;
    text-decoration: none;
    color: #D9D9D9;
    font-weight: 500;
    transition: 0.5s;
}
.action .menuProfil ul li:hover a
{
    color: black;
}
