/* GENERALE */
*
{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}
ul
{
    position: absolute;
    left: 2px;
    padding-top: 30px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    font-size: 1.3rem;
}
a
{
    text-decoration: none;
    color: black;
}
h1
{
    padding-top: 10px;
    padding-left: 10px;
}

/* HEADER */
header
{
    width: 100%;
    height: 100px;
    background-color: #D9D9D9;
}
header img
{
    padding-left: 10px;
    padding-top: 20px;
    height: 65px;
    width: 200px;
}
.profil
{
    display: flex;
    float: right;
    margin-right: 50px;
}
.profilUser i
{
    font-size: 2rem;
    padding-top: 30px;
}
header p
{
    margin-top: 35px;
    margin-left: 10px;
    font-size: 1.2rem;
}


/* MENU-BARRE-LEFT */
#menuBarreLeft
{
    float: left;
    height: 100%;
    
}
.menu
{
    width: 250px;
    height: 100vh;
    margin-top: 70px;
    background-color: #D9D9D9;
}
.menu i
{
    font-size: 2rem;
    padding-right: 10px;
}
/*.gtsUser i
{

}*/
.gtsTaskes i
{
    padding-right: 10px;
}
.dashbord i
{
    padding-left: 20px;
    padding-right: 10px;
}
.gtsTaskes p, .dashbord p
{
    padding-right: 45px;
}
.bilan i
{
    padding-right: 10px;
}
.bilan p
{
    padding-right: 110px;
}
.settings i
{
    padding-right: 10px;
}
.settings p
{
    padding-right: 80px;
}
.settings,.gtsTaskes,.bilan,.gtsUser
{
    font-size: 1.2rem;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    border: 1px  solid;
}
.dashbord
{
    font-size: 1.2rem;
    width: 250px;
    height: 70px;
    display: flex;
    background: rgba(103, 170, 97, 87);
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px  solid;
}
.settings:hover,.gtsTaskes:hover,.bilan:hover,.gtsUser:hover
{
    width: 250px;
    height: 70px;
    display: flex;
    background: rgba(103, 170, 97, 8
    );
    justify-content: center;
    align-items: center;
    border: 1px  solid;
}
.logOut
{
    position: absolute;
    bottom: -150px;
    margin-left: 70px;
}

/* DASH */
#dash
{
    z-index: auto;
    margin-left: 300px;
    margin-top: 150px;
}
.general
{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.first p
{
    font-size: 3.5rem;
    padding-top: 20px;
    padding-left: 20px;
}
.second p
{
    padding-top: 40px;
    padding-left: 20px;
    font-size: 1.5rem;
}
.third p
{
    padding-left: 20px;
    padding-top: 40px;
    font-size: 1.5rem;
}
.fourth p
{
    padding-left: 20px;
    padding-top: 40px;
    font-size: 1.5rem;
}
.effTask ,.budPaie ,.members,.product
{
    margin-bottom: 5px;
    width: 300px;
    height: 150px;
    background-color: #D9D9D9;
}
.effTask i
{
    z-index: 2;
    font-size: 5rem;
    right: 800px;
    bottom: 270px;
}
.budPaie i
{
    z-index: 2;
    right: 420px;
    bottom: 270px;
    font-size: 5rem;
}
.members i
{
    z-index: 2;
    right: 100px;
    bottom: 270px;
    font-size: 5rem;
}
.product i
{
    z-index: 4;
    margin-top: 0px;
    margin-bottom: 60px;
    
    font-size: 5rem;
}
.green
{
    width: 300px;
    height: 16px;
    background: rgba(103, 170, 97, 87);
}

/*DROPMENU*/
.action
{
    position: absolute;
    top: 20px;
    right: 30px;
}
.action .menuProfil
{
    position: absolute;
    background-color: #D9D9D9;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 50px;
    width: 200px;
    height: 300px;
    box-sizing: 0 5px 25px rgba(0,0,0,1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menuProfil.active
{
    visibility: visible;
    opacity: 1;

}

.action .menuProfil::before
{
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 28px;
    height: 20px;
    transform: rotate(45deg);
}
.action .menuProfil h2
{
    width: 100px;
    font-size: 18px;
    padding: 20px 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2rem;
}
.action ul
{
    display: inline;
    font-size: 1.2rem;
}
.action .menuProfil ul li
{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.action .menuProfil ul li i
{
    max-width: 20px;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menuProfil ul li:hover i
{
    opacity: 1;
}
.action .menuProfil ul li a
{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.action .menuProfil ul li:hover a
{
    color: rgba(103, 170, 97, 87);
}